  <section id="contact" class="container py-5">
    <h2 class="fw-bold mb-3">Contato</h2>

    <div class="d-flex flex-wrap gap-3">
      <a
        class="btn btn-outline-dark"
        href="https://github.com/MorriganDM"
        target="_blank"
        rel="noopener noreferrer"
      >
        <i class="bi bi-github"></i>
        GitHub
      </a>

      <a
        class="btn btn-outline-primary"
        href="https://www.linkedin.com/in/pedro-nascimento-32747633a/"
        target="_blank"
        rel="noopener noreferrer"
      >
        <i class="bi bi-linkedin"></i>
        LinkedIn
      </a>
    </div>
  </section>